@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

html
  --bg: #121418
  --text: #eee

body
  background: var(--bg)
  color: var(--text)
  font-family: Roboto, monospace
  margin: 0
  margin-right: var(--scrollbar-offset)
