@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

html
  --bg: #121418
  --top-bar-bg: #222428
  --bottom-bar-bg: #222428
  --text: #eee

body
  background: var(--bg)
  color: var(--text)
  font-family: Roboto, monospace
  margin: 0
  margin-right: var(--scrollbar-offset)

.map
  position: fixed
  display: block

.ui
  &-top
    position: fixed
    z-index: 1
    top: 0
    right: 0
    left: 0

    border-bottom: 1px solid #0af
    box-sizing: border-box
    background: var( --top-bar-bg)
  &-bottom
    position: fixed
    z-index: 1
    bottom: 0
    right: 0
    left: 0

    border-top: 1px solid #0af
    box-sizing: border-box
    background: var( --bottom-bar-bg)

.minimap
  position: fixed
  z-index: 2
  bottom: 0
  right: 0
  background: var(--bg)
